
<!-- This section is for Splash Screen -->
<div class="ole">
<section id="jSplash">
  <div id="circle"></div>
</section>
</div>
<!-- End of Splash Screen -->

<div id="home-slider">  
    <div class="overlay"></div>
    <div class="slider-text">
    <div id="slidecaption"><p>WAVE!</p></div>
    </div>
</div>
<!-- End Homepage Slider -->


<!-- Header -->
<header>
    <div class="sticky-nav">
      <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
          <a id="goUp" href="#home-slider" title="Brushed | Responsive One Page Template">Brushed Template</a>
        </div>
        <nav id="menu">
          <ul id="menu-nav">
              <li class="current"><a href="#home-slider">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#work">Our Work</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>

    </div>
</header>
<!-- End Header -->


<!-- About Section -->
<div id="about" class="page-alternate">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">About Us</h2>
                <h3 class="title-description"><big>Ｗｅｂページつくります</big></h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
    <!-- People -->
    <div class="row">
      
        <!-- Start Profile -->
      <div class="span4 profile">
          <div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">CTO/Founder</span>
                </div>
                <img src="assets/profile/profile-01.jpg" alt="YUTARO">
            </div>
            <h3 class="profile-name">YUTARO</h3>
            <p class="profile-description">早稲田大学2年生.  今学期の目標は全科目A+をとることです.  インドに関することは何でも興味があります.僕のお気に入りのインド映画「P.K」が上映中です.  是非見てください.</p>
              
            
      </div>
        <!-- End Profile -->
        
        <!-- Start Profile  -->
      <div class="span4 profile">
          <div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Creative Director</span>
                </div>
                <img src="assets/profile/profile-02.jpg" alt="Jane Helf">
            </div>
            <h3 class="profile-name">TAKESHI</h3>
            <p class="profile-description">早稲田大学3年生.  Swiftかける.  好きな食べ物はどら焼き.  アメリカの大学から最近帰ってきた.  複数のベンチャー企業でインターンをしていて,アプリの実装経験が豊富.  </p>
      
        </div>
        <!-- End Profile
        
        <!-- Start Profile -->
      <div class="span4 profile">
          <div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Lead Designer</span>
                </div>
                <img src="assets/profile/profile-03.jpg" alt="Joshua Insanus">
            </div>
            <h3 class="profile-name">Joshua Insanus</h3>
            <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
            Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
              
            <div class="social">
              <ul class="social-icons">
                  <li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-linkedin"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-google-plus"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-vimeo"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End Profile -->
        
    </div>
    <!-- End People -->
</div>
</div>
<!-- End About Section -->

<!-- Our Work Section -->
<div id="work" class="page">
  <div class="container">
      <!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Our Work</h2>
                </div>
            </div>
        </div>
        <!-- End Title Page -->
        
        <!-- Portfolio Projects -->
        <div class="row">
          <div class="span3">
              <!-- Filter -->
                <nav id="options" class="work-nav">
                    <ul id="filters" class="option-set" data-option-key="filter">
                      <li class="type-work">Type of Work</li>
                        <li><a href="#filter" data-option-value="*" class="selected">All Projects</a></li>
                        <li><a href="#filter" data-option-value=".design">WEB</a></li>
                        <li><a href="#filter" data-option-value=".photography">IOS</a></li>
                    </ul>
                </nav>
                <!-- End Filter -->
            </div>
            
            <div class="span9">
              <div class="row">
                  <section id="projects">
                      <ul id="thumbs">
                        
              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 photography">
                              <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                              <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The City" href="assets/image-01-full.jpg">
                                  <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="assets/work/thumbs/image-01.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                            </li>
                          <!-- End Item Project -->
                            
              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 design">
                              <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                              <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Office" href="assets/work/full/image-02-full.jpg">
                                  <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="assets/work/thumbs/image-02.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                            </li>
                          <!-- End Item Project -->
                            
              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 photography">
                              <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                              <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountains" href="assets/work/full/image-03-full.jpg">
                                  <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="assets/work/thumbs/image-03.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                            </li>
                          <!-- End Item Project -->

              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 design">
                              <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                              <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Clouds" href="img/work/full/image-05-full.jpg">
                                  <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="assets/work/thumbs/image-05.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                            </li>
                          <!-- End Item Project -->
              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 design">
                              <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                              <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Dark" href="assets/work/full/image-06-full.jpg">
                                  <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="assets/work/thumbs/image-06.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                            </li>
                          <!-- End Item Project -->
                            
              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 design">
                              <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                              <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Beach" href="img/work/full/image-07-full.jpg">
                                  <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="assets/work/thumbs/image-07.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                            </li>
                          <!-- End Item Project -->
                        </ul>
                    </section>
                    
              </div>
            </div>
        </div>
        <!-- End Portfolio Projects -->
    </div>
</div>
<!-- End Our Work Section -->

<!-- Contact Section -->
<div id="contact" class="page">
  <div class="container">
    <div class="action_inquiry">
    <%= link_to inquiry_new_path do %><p>ご依頼画面はこちらをCLICK!</p><% end %>
    </div>
  </div>
</div>
<!-- End Contact Section -->

<!-- Footer -->
<footer>
  <p class="credits">&copy;2013 Brushed. Brushed Template by Alessio Atzeni</a></p>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<!-- End Back to Top -->

